@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
Welcome to my Kanban Board application.<br />
This is a simple application that allows you to manage your tasks in a Kanban style.<br />
You can create new projects, clear the board, delete projects, and also move tasks between columns.<br />
The application is built using Blazor WebAssembly and .NET 8.0. Projects are stored in local storage and are available after refreshing the page.