@using KanbanBoard_Blazor.Extensions

<div class="col-md-3 dropzone bg-light p-3 m-5 border border-secondary rounded align-content-center " ondragover="event.preventDefault();" @ondrop=@(()=>OnDropTask(status))>
    <h3 class="text-center bg-light pb-2 rounded-bottom-0">@columnName</h3>
    @foreach (var _task in tasks.Where(x => x.status == status))
    {
        <div class="text-black border border-dark rounded my-3 p-2 @colorColumn" style="cursor:pointer" draggable="true"
             @ondragstart="@(()=>OnDragStart(_task))">
             @_task.description
        </div>
    }
</div>
