@page "/kanbanBoard"


<h2 class="text-center"> Kanban Board </h2>
<div class="row">
	<KanbanColumn  status="Models.Status.ToDo" colorColumn="alert alert-danger" tasks="_tasks" OnDrag="onStartDrag" OnDrop="onDrop"/>
	<KanbanColumn status="Models.Status.InProgress" colorColumn="alert alert-warning" tasks="_tasks" OnDrag="onStartDrag" OnDrop="onDrop" />
	<KanbanColumn status="Models.Status.Done" colorColumn="alert alert-success" tasks="_tasks" OnDrag="onStartDrag" OnDrop="onDrop" />
</div>


